<div class="bg-light p-4">
  <h3>
    <%= @answer %>
  </h3>
  <h5><em>- You</em></h5>
</div>

<br>

<div class="bg-warning p-4">
  <h3>
    <%= @reply %>
  </h3>
  <h5><em>- Coach</em></h5>
</div>

<%= link_to "Ask another question", ask_path %>
